<table class="table">
  <thead>
    <tr>
        <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">About</th>
        <th scope="col">delate/edit</th>
    </tr>
  </thead>
  <tbody>
    {{#each list}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      <td>{{this.text}}</td>
      <td>
        <form method="post" action="/curd/delete">
        <input type="hidden" name="id" value={{this.id}}/>
        <button type="submit" class="btn btn-danger">Delete</button>
</form></td>
<td><a href="/curd/{{this.id}}" class="btn btn-warning">Edite</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>